body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

/* ------------------ */
.header .container {
  color: #ffffff;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
}

.page-header {
  top: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin: auto;
  padding: 0 15px;
}

.logotype {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  width: 145px;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logotype-part1 {
  color: #2196f3;
}

.logotype-part2 {
  color: #000000;
}

.nav > .logotype {
  margin-right: 93px;
  padding: 13px 0;
}

.nav,
.nav-items,
.header-contacts {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #757575;
}

.nav-items li:not(:last-child),
.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #afb1b8;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-contact {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts {
  margin-left: auto;
}

.active > a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  text-decoration: underline;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

li.active > a {
  position: relative;
  color: #2196f3;
}

.header-contact:hover,
.header-contact:focus,
.nav-item:hover,
.nav-item:focus {
  color: #2196f3;
}
/*-------------------*/

.divlogo {
  /*position: absolute;*/
  width: 100%;
}

.hero {
  height: 600px;
  left: 0px;
  top: 80px;
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 696px;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-title {
  position: absolute;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /*  border-radius: 4px;*/
}

.section-studio {
  display: block;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.features li {
  width: 270px;
}

.features li:not(:last-child) {
  margin-right: 30px;
}

.features-names {
  padding-bottom: 10px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-text {
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-icon {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  fill: currentColor;
  justify-content: center;
}

.ourworking {
  padding-top: 100px;
  padding-bottom: 50px;
  align-content: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ourworking-card {
  margin: 0 15px;
}

.ourworking-card-container {
  position: relative;
}

.ourworking-desription {
  position: absolute;
  bottom: 3px;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0px;
  right: 0px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.ourcommand {
  padding-top: 100px;
  padding-bottom: 10px;
  align-content: center;
  text-align: center;
  font-size: small;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.ourcommand-card {
  margin: 0 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.ourcommand-names {
  padding-top: 30px;
  align-content: center;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  letter-spacing: 0.03em;
}

.ourcommand-profi {
  color: #757575;
}

.working-command-section {
  padding: 0 15px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.working-command-title {
  position: absolute;
  align-content: center;
  color: #212121;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  line-height: 18.75px;
  text-align: center;
  letter-spacing: 0.03em;
}

.working-command-list {
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 24px;
}

/* Постійні клієнти */
.clients-section {
  padding-top: 94px;
  display: block;
}

.clients-title {
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.clients-set {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-item {
  margin-top: 50px;
  background: #ffffff;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 210px;
  min-width: 170px;
  cursor: pointer;
  fill: currentColor;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
  margin-right: 15px;
}

.clients-item:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: currentColor;
  padding: 0 12px;
}

.img-size {
  width: 100%;
}

.link-study {
  padding-left: 30px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-portfolio {
  padding-left: 20px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-contacts {
  padding-left: 20px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
  text-decoration: none;
}

.link-email {
  padding-left: 100px;
  padding-top: 5px;
  text-decoration: none;
  color: rgba(21, 21, 21, 0.6);
}

.link-tel {
  padding-left: 30px;
  padding-top: 5px;
  text-decoration: none;
  color: rgba(21, 21, 21, 0.6);
}

.thisfooter {
  padding-left: 10%; /*215px;*/
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

.address-block {
  color: rgba(ff, ff, ff, 0.6);
}

.link-email-footer {
  padding-top: 5px;
  text-decoration: none;
  color: #ffffff;
}

.link-tel-footer {
  padding-top: 5px;
  text-decoration: none;
  color: #ffffff;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  /*margin-left: 10%;
  margin-right: 10%;*/
  align-self: center;
}

.link-portfolio-menu {
  background: #f5f4fa;
  color: #212121;
  font-size: small;
  align-self: auto;
  text-align: center;
  list-style-type: none;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  letter-spacing: 0.03em;
  justify-content: center;
}

.link-portfolio-list {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 4px;
}

.link-portfolio-list:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo {
  top: 262px;
  display: inline-table;
  margin-top: 15px;
  padding: 3px;
  flex-basis: auto;
}

.portfolio-photo:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.portfolio-caption {
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: start;
}

.portfolio-text {
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
}

.portfolio-items {
  text-align: center;
  align-self: center;
  font-size: small;
}

.portfolio-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hr {
  margin: 0;
  flex-wrap: wrap;
}

.social {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 30px;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}

.social li {
  margin: 5px;
}

.social li:not(:last-child) {
  margin-right: 0px;
}

.social-button {
  color: #afb1b8;
  background: #fff;
}

.social-button,
.social-button-footer {
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  align-items: flex-start;
  display: inline-block;
  text-align: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button-footer {
  background: transparent;
}

.button-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  text-align: center;
  margin: 12px;
}

.social-button:hover,
.social-button-footer:hover {
  color: #fff;
  background: #2196f3;
}

.socialfooter-links li {
  margin: 5px;
}

.socialfooter-links li:not(:last-child) {
  margin-right: 0px;
}

.social-button-footer {
  color: #fff;
  /*background: transparent;*/
  background: rgb(88, 88, 88);
}

.socialfooter {
  background-color: #2f303a;
  padding-top: 72px;
  padding-bottom: 100px;
  color: #ffffff;
  margin: 10px;
}

.socialfooter-links {
  padding-left: 70px;
  list-style-type: none;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.socialnetworks-item {
  margin: 0 5px;
}

.socialnetworks-item:hover {
  color: #2196f3;
}

.socialfooter-title {
  padding-left: 70px;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  display: flex;
}

.main-footer {
  background-color: #2f303a;
}
